@import "../../../index.css";
.OptionAbout{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 75px;
    &-text{
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: var(--gray);
            &-title{
                color: #000;
                font-weight: 700;
                font-size: 36px;
        }
    }

    &-img{
        position: relative;
        &-side{
            position: absolute;
        }
    }
}

@media screen and (max-width:1250px){
    .OptionAbout{
        text-align: center;
    }
}
@media screen and (max-width:800px){
    .OptionAbout{
        &-img-main{
            max-width: 100%;
        }
    }
}