@import "../../../index.css";

.Card {
    width: calc(100% - 40px);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    position: relative;

    &-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &-decoration {
        position: absolute;
        right: -30px;
        top: -82.5px;
    }

    &-img {
        max-width: 100%;
        height: 100%;
    }


    &-title {
        font-size: 14px;
        font-weight: 700;
        color: var(--blue);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &-pricing {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-price {
            >span {
                font-weight: 700;
            }

            &-large {
                font-size: 60px;
                padding-right: 10px;
            }
        }

        &-method {
            color: var(--gray);
            font-size: 15px;
            text-transform: lowercase;
        }
    }

    &-options {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-option {
            display: flex;
            align-items: center;
            gap: 10px;

            &-false {
                color: #161C2D88;
            }
        }
    }

    &-button {
        width: 100%;
        border-radius: 8px;
        padding: 15px 20px;
        background-color: var(--blue);
        color: #fff;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-img:hover {
            fill: var(--blue) !important;
        }

        &:hover {
            background-color: var(--light-blue);
            color: var(--blue);
            fill: var(--blue) !important;
        }
    }
}

@media screen and (max-width:720px) {
    .Card {
        grid-template-columns: none;
        align-items: center;

        &-img-wrap,
        &-decoration {
            display: none;
        }
    }
}