@import "../../../index.css";

.Switch {
    width: 60px;
    padding: 7px;
    border-radius: 20px;
    background-color: #bfd0e0;
    &-active{
        background-color: var(--blue);
    }
    &-head {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #fff;
        transition: 0.5s ease;
        cursor: pointer;
    }
}