.Terms{
    display: flex;
    justify-content: center;
    &-inner{
        padding: 75px 0;
        width: var(--width);
        display: flex;
        flex-direction: column;
        gap: 25px;
        &-title{
            padding: 25px 0;
        }
        &>ul,ol{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    & a{
        color: var(--gray);
    }
}
@media screen and (max-width:720px){
    .Terms{
        &-inner{
            &-title{
                font-size: 32px;
            }
        }
    }
}