@import "../../index.css";

.FrontPage {
    width: 100%;

    &-fscreen {
        color: #fff;
        height: 100vh;
        background: url("../../img/frontpage/fscreen-back.png") no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        &-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-wrap {
                width: var(--width);
                margin: auto;
                height: calc(100% - 73.2px);
                display: flex;
                align-items: center;
            }

            &-text {
                max-width: 450px;
                display: flex;
                flex-direction: column;
                gap: 25px;

                &-title {
                    font-weight: bold;
                    font-size: 32px;

                    :last-child {
                        font-size: 40px;
                    }
                }

                &-desc {
                    color: #ffffff88;
                }
            }

            &-img {
                width: 500px;
                height: 300px;
                background-color: #fff;
                border-radius: 20px;
            }
        }
    }

    &-options {
        width: var(--width);
        margin: auto;
        height: 500px;
        display: flex;
        align-items: center;
        &-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 75px;
        }
    }
}