@import "../../index.css";

.FrontPage {
    width: 100%;
background-color: #f4f7fa;
    &-fscreen {
        color: #fff;
        min-height: 100vh;
        background: url("../../img/frontpage/fscreen-back.png") no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &-content {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 50px;

            &-wrap {
                width: var(--width);
                margin: auto;
                height: 100vh;
                display: flex;
                align-items: center;
            }

            &-text {
                max-width: 450px;
                display: flex;
                flex-direction: column;
                gap: 25px;

                &-title {
                    font-weight: bold;
                    font-size: 32px;

                    :last-child {
                        font-size: 40px;
                    }
                }

                &-desc {
                    color: #ffffff88;
                }
            }

            &-img {
                width: 600px;
                height: 350px;
                background-color: #fff;
                border-radius: 10px;
                position: relative;
                >img{
                    position: absolute;
                    top: 60px;
                    right: 0px;
                }
            }
        }
    }

    &-options {
        width: var(--width);
        margin: auto;
        height: 500px;
        display: flex;
        align-items: center;
        &-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 75px;
        }
    }

    &-optionsAbout{
        width: var(--width);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding-bottom: 125px;
    }

    &-about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        &-title{
            font-size: 36px;
            color: #000;
            font-weight: 700;
        }
        &-img{
            width: var(--width);
            background: url("../../img/frontpage/about-back.png") no-repeat;
            background-size: 100%;
            display: flex;
            justify-content: center;
            height: 450px;
        }
        &-bottom{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            position: relative;
            &-text{
                text-align: center;
                width: var(--width);
                color: var(--gray);
            }
            &-imgleft{
                min-width: 296px;
                height: 235px;
                background: url("../../img/frontpage/about-left.png") no-repeat;
                background-size: cover;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &-imgright{
                min-width: 296px;
                height: 235px;
                background: url("../../img/frontpage/about-right.png") no-repeat;
                background-size: cover;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    &-subscriptions{
        background-color: var(--light-blue);
        padding: 100px 0px;
        display: flex;
        justify-content: center;
        &-inner{
            width: var(--width);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            &-switch{
                display: flex;
                align-items: center;
                column-gap: 10px;
                &-inner{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
                &-sale{
                    padding: 7.5px;
                    border-radius: 15px;
                    background-color: #c8e5fd;
                    font-size: 13px;
                    color: var(--blue);
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            &-cards{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
            }
            &-title{
                font-size: 36px;
                font-weight: 700;
            }
            &-description{
                color: var(--gray);
                text-align: center;
            }
        }
    }
    &-slider{
        padding: 100px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 65px;
        &-title{
            font-weight: 700;
            font-size: 36px;
        }
    }
}
@media screen and (max-width:800px){
    .FrontPage{
        &-subscriptions{
            &-inner{
                &-cards{
                    grid-template-columns: none;
                    grid-template-rows: 1fr 1fr;
                    gap: 100px;
                }
            }
        }

        &-options{
            &-inner{
                grid-template-columns: none;
                grid-template-rows: repeat(3, 1fr);
                gap: 50px;
            }
        }
        &-about{
            &-img{
                background: none;
            }
        }
    }
}
@media screen and (max-width:500px){
    .FrontPage{
        &-fscreen{
            height: 115vh;
            &-content{
                flex-direction: column;
                &-img{
                    width: 75%;
                    height: 250px;
                }
            }
        }

        &-subscriptions{
            &-inner{
                &-switch{
                    flex-direction: column;
                    // align-items: end;
                    gap: 15px;
                }
            }
        }
     &-about{
        gap: 0px;

        &-bottom{
            &-imgright,&-imgleft{
                display: none;
            }
        }
    }
}
}