@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f4f7fa;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato' !important;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
h1{
  font-size: 54px !important;
}
h2{
  font-size: 32px !important;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --width:70%;
  --blue: #1082E9;
  --gray: #9B9B9B;
  --light-blue:#DDF0FF;
  --red:rgb(219, 77, 77);
  --light-red:rgb(233, 209, 209);

}
