@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato' !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --width:65%;
  --blue: #1082E9;
  --gray: #9B9B9B;
  --light-blue:#DDF0FF;

}
